[submodule "Natives/external/DBNumberedSlider"]
	path = Natives/external/DBNumberedSlider
	url = https://github.com/khanhduytran0/DBNumberedSlider
[submodule "Natives/external/fishhook"]
	path = Natives/external/fishhook
	url = https://github.com/khanhduytran0/fishhook
	branch = jev/main
[submodule "Natives/external/AFNetworking"]
	path = Natives/external/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
[submodule "Natives/external/ZeroTierFramework"]
	path = Natives/external/ZeroTierFramework
	url = https://github.com/zerotier/zerotier-sockets-apple-framework.git
[submodule "Natives/external/MobileGlues/MobileGlues-cpp/3rdparty/glslang"]
	path = Natives/external/MobileGlues/MobileGlues-cpp/3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Natives/external/MobileGlues/MobileGlues-cpp/3rdparty/SPIRV-Cross"]
	path = Natives/external/MobileGlues/MobileGlues-cpp/3rdparty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Natives/external/MobileGlues/MobileGlues-cpp/3rdparty/xxhash"]
	path = Natives/external/MobileGlues/MobileGlues-cpp/3rdparty/xxhash
	url = https://github.com/stbrumme/xxhash.git
[submodule "Natives/external/MobileGlues/MobileGlues-cpp/include/ska"]
	path = Natives/external/MobileGlues/MobileGlues-cpp/include/ska
	url = https://github.com/MobileGL-Dev/flat_hash_map.git
